<div id="create-div">
    <div class="row justify-space-between-md">
        <div class="card">
            <button class="character-creation-form_randomizer btn">Randomize Character</button>
            <form action="#" id="character-creation-form" class="form">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name" name="name">Character Name:</label>
                        <input
                            type="text"
                            placeholder="Character Name"
                            id="character-name"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="race" name="race">Choose a race:</label>
                        <select name="race_select" id="race-select" required>
                            <option value="Dragonborn">Dragonborn</option>
                            <option value="Dwarf">Dwarf</option>
                            <option value="Elf">Elf</option>
                            <option value="Gnome">Gnome</option>
                            <option value="Half-Elf">Half-Elf</option>
                            <option value="Halfling">Halfling</option>
                            <option value="Half-Orc">Half-Orc</option>
                            <option value="Human">Human</option>
                            <option value="Tiefling">Tiefling</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="met_party" name="met_party">Have they met the party
                            yet?</label>
                        <select name="met_party" id="character-met-party" required>
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="class" name="class">Choose a class:</label>
                        <select name="class" id="character-class">
                            <option value="Barbarian">Barbarian</option>
                            <option value="Bard">Bard</option>
                            <option value="Cleric">Cleric</option>
                            <option value="Druid">Druid</option>
                            <option value="Fighter">Fighter</option>
                            <option value="Monk">Monk</option>
                            <option value="Paladin">Paladin</option>
                            <option value="Ranger">Ranger</option>
                            <option value="Rogue">Rogue</option>
                            <option value="Sorceror">Sorceror</option>
                            <option value="Warlock">Warlock</option>
                            <option value="Wizard">Wizard</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes:</label>
                        <textarea
                            id="notes"
                            class="form-input"
                            type="text"
                            placeholder="Write any relevant notes for your character here"
                        ></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="strength">Strength:</label>
                        <input
                            class="stats"
                            id="strength"
                            type="number"
                            placeholder="strength"
                        />
                    </div>
                    <div class="form-group">
                        <label for="dexterity">Dexterity:</label>
                        <input
                            class="stats"
                            id="dexterity"
                            type="number"
                            placeholder="dexterity"
                        />
                    </div>
                    <div class="form-group">
                        <label for="constitution">Constitution:</label>
                        <input
                            class="stats"
                            id="constitution"
                            type="number"
                            placeholder="constitution"
                        />
                    </div>
                    <div class="form-group">
                        <label for="intelligence">Intelligence:</label>
                        <input
                            class="stats"
                            id="intelligence"
                            type="number"
                            placeholder="intelligence"
                        />
                    </div>
                    <div class="form-group">
                        <label for="wisdom">Wisdom:</label>
                        <input
                            class="stats"
                            id="wisdom"
                            type="number"
                            placeholder="wisdom"
                        />
                    </div>
                    <div class="form-group">
                        <label for="charisma">Charisma:</label>
                        <input
                            class="stats"
                            id="charisma"
                            type="number"
                            placeholder="charisma"
                        />
                    </div>
                </div>
            </form>
            <button class="btn" type="submit">Create Character</button>
        </div>
    </div>
</div>

<script src="/js/characterCreate.js"></script>
<script src="/js/diceRandomizerLogic.js"></script>