<form action="">
    <input type="text" placeholder="Character Name" />
    <label for="race" name="race">Choose a race:</label>
    <select name="" id="">
        <option value="Dragonborn">Dragonborn</option>
        <option value="Dwarf">Dwarf</option>
        <option value="Elf">Elf</option>
        <option value="Gnome">Gnome</option>
        <option value="Half-Elf">Half-Elf</option>
        <option value="Halfling">Halfling</option>
        <option value="Half-Orc">Half-Orc</option>
        <option value="Human">Human</option>
        <option value="Tiefling">Tiefling</option>
    </select>
    <label for="met_party" name="met_party">Have they met the party yet?</label>
    <select name="met_party" id="character-met-party">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <lable for="class" name="class">Choose a class:</lable>
    <select name="Class" id="character-class">
        <option value="">Barbarian</option>
        <option value="">Bard</option>
        <option value="">Cleric</option>
        <option value="">Druid</option>
        <option value="">Fighter</option>
        <option value="">Monk</option>
        <option value="">Paladin</option>
        <option value="">Ranger</option>
        <option value="">Rogue</option>
        <option value="">Sorceror</option>
        <option value="">Warlock</option>
        <option value="">Wizard</option>a
    </select>
    <input class="stats" id="strength" type="text" placeholder="strength" />
    <input class="stats" id="dexterity" type="text" placeholder="dexterity" />
    <input
        class="stats"
        id="constitution"
        type="text"
        placeholder="constitution"
    />
    <input
        class="stats"
        id="intelligence"
        type="text"
        placeholder="intelligence"
    />
    <input class="stats" id="wisdom" type="text" placeholder="wisdom" />
    <input class="stats" id="charisma" type="text" placeholder="charisma" />
    <textarea
        class="form-input"
        type="text"
        placeholder="Write any relevant notes for your character here"
        required
    ></textarea>
    <input type="submit" value="Create Character">
</form>