<div id="create-div">
    <div class="row justify-space-between-md">
        <div class="card">
            <button class="character-creation-form_randomizer btn">Randomize Character</button>
            <form action="#" id="character-creation-form" class="form">
                <div class="form-col">
                    <div class="col-6 d-flex flex-column form-spacing">
                        <div class="form-group">
                            <label for="name" name="name">Character Name:</label>
                            <input type="text" placeholder="Character Name" id="character-name" required />
                        </div>
                        <div class="form-group">
                            <label for="race" name="race">Choose a race:</label>
                            <select name="race_select" id="race-select" required>
                                <option value="Dragonborn" id="Dragonborn">Dragonborn</option>
                                <option value="Dwarf" id="Dwarf">Dwarf</option>
                                <option value="Elf" id="Elf">Elf</option>
                                <option value="Gnome" id="Gnome">Gnome</option>
                                <option value="Half-Elf" id="Half-Elf">Half-Elf</option>
                                <option value="Halfling" id="Halfling">Halfling</option>
                                <option value="Half-Orc" id="Half-Orc">Half-Orc</option>
                                <option value="Human" id="Human">Human</option>
                                <option value="Tiefling" id="Tiefling">Tiefling</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="met_party" name="met_party">Have they met the party
                                yet?</label>
                            <select name="met_party" id="character-met-party" required>
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="class" name="class">Choose a class:</label>
                            <select name="class" id="character-class">
                                <option value="null" id="no-class">Unselected</option>
                                <option value="Barbarian" id="Barbarian">Barbarian</option>
                                <option value="Bard" id="Bard">Bard</option>
                                <option value="Cleric" id="Cleric">Cleric</option>
                                <option value="Druid" id="Druid">Druid</option>
                                <option value="Fighter" id="Fighter">Fighter</option>
                                <option value="Monk" id="Monk">Monk</option>
                                <option value="Paladin" id="Paladin">Paladin</option>
                                <option value="Ranger" id="Ranger">Ranger</option>
                                <option value="Rogue" id="Rogue">Rogue</option>
                                <option value="Sorceror" id="Sorceror">Sorceror</option>
                                <option value="Warlock" id="Warlock">Warlock</option>
                                <option value="Wizard" id="Wizard">Wizard</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column">
                            <label for="notes">Notes:</label>
                            <textarea id="notes" class="form-input" type="text"
                                placeholder="Write any relevant notes for your character here"></textarea>
                        </div>
                    </div>
                    <div class="col-6 ms-3">
                        <div class="form-floating mb-3">
                            <input class="stats form-control" id="strength" type="number" placeholder="strength" />
                            <label for="floatingInput">Strength</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="stats form-control" id="dexterity" type="number" placeholder="dexterity" />
                            <label for="dexterity">Dexterity:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="stats form-control" id="constitution" type="number" placeholder="constitution" />
                            <label for="floatingInput">Constitution:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="stats form-control" id="intelligence" type="number" placeholder="intelligence" />
                            <label for="floatingInput">Intelligence:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="stats form-control" id="wisdom" type="number" placeholder="wisdom" />
                            <label for="floatingInput">Wisdom:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="stats form-control" id="charisma" type="number" placeholder="charisma" />
                            <label for="floatingInput">Charisma:</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center submit-btn">
                    <button class="btn" type="submit">Create Character</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/characterCreate.js"></script>
<script src="/js/characterRandomizerLogic.js"></script>