<h1>new home page</h1>

<a href="/character-create">
    <section class="menu-card">
        <div class="menu-content">
            <h3>Create your own NPC character!</h3>
        </div>
    </section>
</a>

<a href="/my-characters">
    <section class="menu-card">
        <div class="menu-content">
            <h3>View and store your previously made NPCs!</h3>
            <p></p>
        </div>
    </section>
</a>

<a href="/login">
    <section class="menu-card">
        <div class="menu-content">
            <h3></h3>
        </div>
    </section>
</a>