<div  id="login-div" >
    <div class="row justify-space-between-md">
        <div class="card">
            <div class="login-card">
                <h2 class="page-title">Login</h2>
                <form class="form login-form">
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="username-login" />
                    <label for="username-login">Username:</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" id="password-login" />
                    <label for="password-login">Password:</label>
                </div>
                <div class="form-floating mb-3">
                    <button class="btn" type="submit">Login</button>
                </div>
                </form>
                <a href="/signup">Sign up instead</a>
            </div>
        </div>
    </div>
</div>


<script src="./js/login.js"></script>