<div id="signup-div">
  <div class="row justify-space-between-md">
    <div class="card">
      <div class="login-card">
        <h2 class="page-title">Signup</h2>
        <form class="form signup-form">
          <div class="form-floating mb-3">
            <input class="form-control" type="text" id="username-signup" />
            <label for="username-signup">Username:</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="text" id="email-signup" />
            <label for="email-signup">Email:</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="password" id="password-signup" />
            <label for="password-signup">Password:</label>
          </div>
          <div class="form-floating mb-3">
            <button class="btn" type="submit">Signup</button>
          </div>
        </form>
        <a href="/login">Login instead</a>
      </div>
    </div>
  </div>
</div>
<script src="./js/signup.js"></script>