:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
}

body {
    background: url("../images/mtn-bg-1.jpg") no-repeat center center fixed;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
}

nav {
    background: var(--dark);
    position: fixed !important; 
    z-index: 100 !important;
    width: 100% !important;
}

nav a {
    color: var(--light);
    transition: ease-in-out 0.5;
}

li.nav-item {
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    color: var(--primary);
    transition: ease-in-out 0.5s;
}

nav a:hover,
a:hover {
    color: var(--tertiary);
    transition: ease-in-out 0.5s;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background: url("../images/mtn-bg-1.jpg") no-repeat center center fixed;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    /* padding-top: ; */
}

aside {
    display: flex;
    /* flex: 0; */
    padding: 10px;
    text-align: left;
    margin-right: 100px;
    border:#182c23 solid;
    border-width: 10px;
    
}

.character-gallery{
    padding-top: 110px
}

h2 {
    padding-top: 110px;
    
    font-size: 20px;
}

button {
    background-color: var(--primary) !important; 
    color: var(--light) !important;
}

.btn-no-style {
    background: none !important;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
}

.login-card {
    margin: 0 auto;
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: var(--light);
    color: var(--dark);
}

.card {
    margin: 20px;
    opacity: 0.8;
    transition: ease-in-out 0.5s;
}

.card:hover {
    opacity: 1;
    transition: ease-in-out 0.5s;
}